* {
        margin: 0;
        padding: 0;
        border: 0;
        font-family: 'Quicksand', sans-serif;


    }

#landing_page{
  background-image: url("../images/landscape.jpg");
  background-color: #cccccc;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
}

#navbar li{
  display: inline;
  float: right;
  margin: 15px;
  padding-right: 25px;
  font-size: 130%;
  color: 	#F5F5F5;

}

#navbar{
  width: 100%;
  position: fixed;
}

#message{
  position:relative;
  padding-top: 37vh;
  padding-left: 10%;
  font-size: 185%;
  color: white;
  position: inherit;
}
#message h1{

}

.highlight{
  color: #E4334C;
}

.navlink{
  text-decoration: none;
  color: 	#F5F5F5;
}

.navlink:hover{
  color: #E4334C;
}
